.btn {
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $family;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.18;
    color: $colors-primary;

    background: none;
    border: 0;
    cursor: pointer;

    &--orange {
        background-color: $colors-orange;

        transition: 0.3s linear;

        &:hover {
            background-color: lighten($colors-orange, 10%);
        }
    }

    &--light-blue {
        font-size: 24px;
        color: #1e1e1e;
        background-color: #b8c8dc;

        transition: 0.3s linear;

        &:hover {
            background-color: lighten(#b8c8dc, 10%);
        }
    }
}
