.footer {
    background: url('../img/footer/bg.png');
    background-color: #ebeff4;

    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 124px;
    padding-bottom: 20px;

    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        color: $colors-title;
    }

    &__left,
    &__right {
        display: flex;
        align-items: flex-end;
    }

    &__logo {
        margin-right: 122px;
    }

    &__socials {
        margin-right: 80px;
    }

    &__caption {
        margin-bottom: 21px;
    }

    &__scroll-up {
        padding: 10px;
        margin-left: 78px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: $colors-primary;
        background-color: #e37a3e;

        border: 0;
        cursor: pointer;
        img {
            transform: rotate(90deg);
            margin-bottom: 9px;
        }
    }
}
