.section {
    &--about {
        .section__inner {
            display: flex;
            gap: 60px;
        }

        .section__text-block {
            width: 50%;
        }

        .section__title {
            max-width: 465px;
            margin-bottom: 20px;
        }

        .section__text {
            max-width: 630px;
            margin-bottom: 36px;
        }

        .section__image {
            height: 100%;
        }
    }

    &--placement {
        .section__text {
            max-width: 669px;
            margin-bottom: 40px;
        }

        .section__btn {
            margin: 0 auto;
            margin-top: 48px;
        }

        .swiper {
            width: 50%;
        }
    }

    &--st {
        .section__title {
            padding-bottom: 46px;
        }
        .section__header-title-bg {
            font-size: 150px;
            line-height: 0.89;
        }

        .section__content {
            max-height: 711px;

            display: grid;
            grid-template-columns: 352px 307px 317px 357px;
            grid-template-rows: 267px 422px;
            gap: 22px;
        }
    }

    &--restaurant {
        .section__header {
            margin-bottom: 40px;
        }
    }

    &--events {
        .section__inner {
            max-width: 1659px;
            margin-left: auto;
        }

        .section__header {
            .section__text {
                max-width: 699px;
            }
        }

        .section__title {
            margin-bottom: 20px;
        }

        .section__content {
            display: flex;

            background-color: $colors-primary;
        }

        .section__text-block {
            max-width: 699px;

            padding: 98px 64px;

            color: $colors-secondary;
        }

        .section__event-title {
            margin-bottom: 27px;

            font-size: 32px;
            text-transform: uppercase;
            font-weight: 500;
            color: $colors-title;
        }

        .section__text {
            margin-bottom: 60px;
            font-weight: 300;
            font-size: 20px;
            line-height: 1.04;
        }
    }

    &--faq {
        background: url('../img/section/faq/bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        .section__inner {
            padding-top: 258px;
            padding-bottom: 67px;
        }

        .section__header {
            padding-bottom: 42px;
        }

        .section__header-title-bg {
            color: rgba($colors-primary, 0.2);
        }
    }

    &--map {
        background: url('../img/section/map/bg.png');

        background-position-y: -200px;
        background-size: cover;
        background-repeat: no-repeat;

        .section__header {
            margin-bottom: 42px;
        }

        .section__header-title-bg {
            color: rgba($colors-primary, 0.2);
        }

        .section__content {
            position: relative;
        }
    }

    &__inner {
        padding-top: 101px;
        padding-bottom: 60px;
    }

    &__header {
        width: 100%;
        position: relative;
    }

    &__header-title-bg {
        display: block;
        position: absolute;
        left: 75px;
        top: -120px;
        z-index: 0;

        font-size: 177px;
        text-transform: uppercase;

        color: rgba($colors-title, 0.05);
    }
    &__title {
        position: relative;
        font-size: 55px;
        color: $colors-title;
        text-transform: uppercase;
        font-weight: 500;

        b {
            font-weight: 700;
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 300;
        color: $colors-secondary;
    }

    &__btn {
        width: 285px;
        height: 74px;
    }
}
