.section {
    &--about {
        .section__inner {
            display: flex;
            gap: 60px;

            @media (max-width: $lg) {
                flex-direction: column;
            }
        }

        .section__text-block {
            width: 40%;

            @media (max-width: $lg) {
                padding: 0 15px;
                width: 100%;
            }
        }

        .section__header-title-bg {
            font-size: 120px;
        }

        .section__title {
            max-width: 465px;
            margin-bottom: 20px;

            @media (max-width: $lg) {
                max-width: 100%;
            }
        }

        .section__text {
            max-width: 630px;
            margin-bottom: 36px;
        }

        .section__image {
            height: 100%;

            @media (max-width: $lg) {
                width: 100%;
            }
        }
    }

    &--placement {
        .section__text {
            max-width: 669px;
            margin-bottom: 40px;
        }

        .section__btn {
            margin: 0 auto;
            margin-top: 48px;
        }

        .section__content {
            @media (max-width: $lg) {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
        }

        .section__header-title-bg {
            @media (max-width: $lg) {
                font-size: 100px;
            }

            @media (max-width: $md) {
                font-size: 70px;
            }
        }

        .swiper {
            width: 50%;
        }
    }

    // about page
    &--placement-about {
        .section__inner {
            margin-top: 67px;
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 50px 29px;

            @media (max-width: $lg) {
                grid-template-columns: 1fr;
                gap: 30px;
                place-items: center;
            }
        }
    }

    // house details
    &--house-details {
        .section__inner {
            padding: 145px 0 65px;
        }

        .section__header {
            margin-bottom: 60px;
        }

        .section__header-title-bg {
            @media (max-width: $lg) {
                font-size: 100px;
            }

            @media (max-width: $md) {
                font-size: 80px;
            }
        }

        .section__text {
            margin-top: 62px;

            font-size: 24px;
            font-weight: 300;
            line-height: 1.26;
        }
    }

    &--st {
        .section__title {
            padding-bottom: 46px;
        }
        .section__header-title-bg {
            font-size: 150px;
            line-height: 0.89;
            top: -140px;

            @media (max-width: $xl) {
                font-size: 120px;
                top: -100px;
            }
            @media (max-width: $lg) {
                font-size: 100px;
                top: -80px;
            }

            @media (max-width: $md) {
                font-size: 90px;
                top: -100px;
                line-height: 0.8;
            }

            @media (max-width: $sm) {
                display: none;
            }
        }

        .section__content {
            max-height: 711px;

            display: grid;
            grid-template-columns: 352px 307px 317px 357px;
            grid-template-rows: 267px 422px;
            gap: 22px;

            @media (max-width: $xl) {
                grid-template-columns: 352px 317px;
                grid-template-rows: 267px 422px 267px 422px;

                place-content: center;

                max-height: 100%;
            }

            @media (max-width: $md) {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
        }
    }

    &--about-st {
        .section__header-title-bg {
            font-size: 150px;
            line-height: 0.89;
            top: -140px;
        }

        .section__title {
            padding-bottom: 46px;
        }

        .section__header-title-bg {
            @media (max-width: $xl) {
                font-size: 120px;
                top: -100px;
            }
            @media (max-width: $lg) {
                font-size: 100px;
                top: -80px;
            }

            @media (max-width: $md) {
                font-size: 80px;
                top: -80px;
            }
        }

        .section__content {
            position: relative;
        }
    }

    &--restaurant {
        .section__header {
            margin-bottom: 40px;
        }
    }

    &--events {
        .section__inner {
            max-width: 1659px;
            margin-left: auto;
        }

        .section__header {
            padding: 0 15px;
            .section__text {
                max-width: 699px;
            }
        }

        .section__header-title-bg {
            @media (max-width: $lg) {
                font-size: 80px;
            }

            @media (max-width: $md) {
                font-size: 60px;
            }
        }

        .section__title {
            margin-bottom: 20px;
        }

        .section__content {
            display: flex;

            background-color: $colors-primary;
        }

        .section__text-block {
            max-width: 699px;

            padding: 98px 64px;

            color: $colors-secondary;

            @media (max-width: $xl) {
                max-width: 80%;
            }

            @media (max-width: $md) {
                max-width: 100%;
            }

            @media (max-width: $sm) {
                padding: 15px;
            }
        }

        .section__event-title {
            margin-bottom: 27px;

            font-size: 32px;
            text-transform: uppercase;
            font-weight: 500;
            color: $colors-title;
        }

        .section__text {
            margin-bottom: 60px;
            font-weight: 300;
            font-size: 20px;
            line-height: 1.04;
        }

        picture {
            height: fit-content;
        }

        .swiper-slide {
            display: flex;
            align-items: center;

            @media (max-width: $xl) {
                flex-direction: column;
            }
        }
    }

    &--faq {
        background: url('../img/section/faq/bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        .section__inner {
            padding-top: 258px;
            padding-bottom: 67px;
        }

        .section__header {
            padding-bottom: 42px;
        }

        .section__header-title-bg {
            color: rgba($colors-primary, 0.2);
        }
    }

    &--map {
        background: url('../img/section/map/bg.png');

        background-position-y: -200px;
        background-size: cover;
        background-repeat: no-repeat;

        .section__header {
            margin-bottom: 42px;
        }

        .section__header-title-bg {
            color: rgba($colors-primary, 0.2);
        }

        .section__content {
            position: relative;
        }
    }

    &--contacts-map {
        width: 100%;
        position: absolute;
        bottom: -200px;
        left: 50%;
        transform: translate(-50%);

        .section__inner {
            padding: 0;
        }

        .section__header {
            margin-bottom: 20px !important;
        }

        .section__header-title-bg {
            color: rgba($colors-primary, 0.2);
        }

        .section__content {
            position: relative;
            max-height: 495px;
            max-width: 1400px !important;
        }

        .section__title {
            position: relative;
            bottom: -17px !important;
            left: -6px !important;
        }
    }

    &--contacts {
        .section__inner {
            max-width: 1320px;
            padding: 55px 0;
            margin: 0 auto;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 27px;

            @media (max-width: $lg) {
                grid-template-columns: minmax(0, 500px);
                place-content: center;
            }

            @media (max-width: $sm) {
                padding: 30px 0;
            }
        }
    }

    &--feedback {
        position: relative;
        background: url('../img/feedback/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        min-height: 1462px;
        padding-top: 80px;

        margin-bottom: 250px;

        @media (max-width: $sm) {
            padding-top: 0;

            min-height: 1200px;
        }

        .section__header-title-bg {
            color: rgba($colors-primary, 0.2);
        }

        .section__title {
            position: relative;
            bottom: -30px;
        }

        .section__header {
            margin-bottom: 110px;
        }

        .section__content {
            max-width: 1300px;

            margin: 0 auto;
        }
    }

    &__inner {
        padding-top: 101px;
        padding-bottom: 60px;

        @media (max-width: $xl) {
            padding-top: 50px;
        }

        @media (max-width: $sm) {
            padding: 30px 0;
        }
    }

    &__header {
        width: 100%;
        position: relative;
    }

    &__header-title-bg {
        display: block;
        position: absolute;
        // left: 75px;
        // top: -120px;

        left: 52px;
        top: -109px;

        z-index: 0;

        font-size: 177px;
        text-transform: uppercase;

        color: rgba($colors-title, 0.05);

        @media (max-width: $xl) {
            font-size: 150px;
            top: -60px;
        }

        @media (max-width: $lg) {
            font-size: 120px;
            top: -40px;
            line-height: 0.8;
        }

        @media (max-width: $md) {
            font-size: 90px;
            line-height: 0.8;
        }

        @media (max-width: $sm) {
            display: none;
        }
    }
    &__title {
        position: relative;
        font-size: 55px;
        color: $colors-title;
        text-transform: uppercase;
        font-weight: 500;

        @media (max-width: $lg) {
            font-size: 45px;
        }

        @media (max-width: $sm) {
            font-size: 30px;
        }

        b {
            font-weight: 700;
        }
    }

    &__text {
        font-size: 24px;
        font-weight: 300;
        color: $colors-secondary;

        @media (max-width: $sm) {
            font-size: 18px !important;
        }
    }

    &__btn {
        width: 285px;
        height: 74px;
    }
}
