.showcase {
    height: 1278px;

    background: linear-gradient(
            rgba(#1d1d1d, 0.4) 53%,
            rgba(#1d1d1d, 25%) 90%,
            rgba(#1d1d1d, 8%)
        ),
        url('../img/showcase/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;

    animation: scale 10s forwards linear;

    @media (max-width: $xl) {
        animation: none;

        background-size: cover;
    }

    &--about {
        background: linear-gradient(
                rgba(#1d1d1d, 0.4) 53%,
                rgba(#1d1d1d, 25%) 90%,
                rgba(#1d1d1d, 8%)
            ),
            url('../img/showcase/bg-about.jpg');
        min-height: 906px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--contacts {
        background: linear-gradient(
                rgba(#1d1d1d, 0.4) 53%,
                rgba(#1d1d1d, 25%) 90%,
                rgba(#1d1d1d, 8%)
            ),
            url('../img/showcase/bg-contacts.jpg');

        height: 740px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .showcase__inner {
            padding-top: 250px;
        }
    }

    &--mini {
        background: linear-gradient(
                rgba(#1d1d1d, 0.4) 53%,
                rgba(#1d1d1d, 25%) 90%,
                rgba(#1d1d1d, 8%)
            ),
            url('../img/showcase/bg-mini.jpg');

        min-height: 914px;

        background-repeat: no-repeat;
        background-position: center;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 310px;
    }

    &__title {
        margin-bottom: 30px;

        font-size: 80px;
        font-weight: 500;
        line-height: 1.18;

        text-transform: uppercase;
        text-align: center;

        @media (max-width: $md) {
            font-size: 50px;
        }

        @media (max-width: $sm) {
            font-size: 30px;
        }

        b {
            font-weight: 700;
        }
    }

    &__subtitle {
        margin-bottom: 35px;

        font-size: 40px;
        line-height: 1.18;
        text-transform: uppercase;
        text-align: center;
    }
}

@keyframes scale {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 105%;
    }
}
