.swiper {
    &--5 {
        .swiper-slide {
            display: flex;
        }
    }

    &--about-st {
        margin: 0 30px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    content: '';
    top: 50%;

    transform: translateY(-50%);

    width: 33px;
    height: 84px;

    background-color: rgba(#171717, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &::after {
        display: none;
    }
}

.swiper-button-prev {
    left: 0;

    &--about-st {
        left: -68px;

        width: 68px;
        height: 68px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $colors-orange;
        border-radius: 50%;
    }
}

.swiper-button-next {
    right: 0;

    &--about-st {
        right: -68px;

        width: 68px;
        height: 68px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $colors-orange;
        border-radius: 50%;
    }

    img {
        transform: rotate(180deg);
    }
}
