<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <a href="index.html" class="logo footer__logo">
                    <picture>
                        <source srcset="img/logo/logo-footer.webp">
                        <img src="img/logo/logo-footer.png" alt="логотип">
                    </picture>
                </a>

                <div class="socials footer__socials">
                    <ul class="socials__list">
                        <li class="socials__item">
                            <a href="https://vk.com/scandievent" class="socials__link">
                                <img src="img/icons/vk.png" class="socials__icon" alt="вконтакте">
                                https://vk.com/scandievent
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.instagram.com/scandievent/" class="socials__link">
                                <img src="img/icons/inst.png" class="socials__icon" alt="инстаграм">
                                @scandievent
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__administrator-contacts">
                    <p class="footer__caption">
                        Телефон администратора:
                    </p>

                    <a href="tel:+79521868808">
                        +7 (952) 186-88-08
                    </a>
                </div>
            </div>

            <div class="footer__right">
                <a href="privacy-policy.pdf">Политика конфиденциальности</a>

                <button type="button" class="footer__scroll-up">
                    <img src="img/icons/chevron-back.svg" alt="">
                    <span>Наверх</span>
                </button>
            </div>

        </div>
    </div>
</footer>