// normalize css
@import 'vendor/normalize.scss';

// vars
@import 'vars.scss';

// fonts
@import 'fonts.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $family;
    font-weight: 500;
    background-color: #ebeff4;
    line-height: 1.18;
    color: $colors-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// components
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/container.scss';
@import 'components/nav.scss';
@import 'components/btn.scss';
@import 'components/showcase.scss';
@import 'components/form.scss';
@import 'components/section.scss';
@import 'components/swiper.scss';
@import 'components/card.scss';
@import 'components/faq.scss';
@import 'components/socials.scss';
@import 'components/map.scss';
