// colors
$colors-orange: #e37a3e;
$colors-primary: #fff;
$colors-secondary: #000;
$colors-title: #202020;

// typography
$family: 'Jost', sans-serif;

// media
$xl: 1400px;
$lg: 1200px;
$md: 768px;
$sm: 568px;
